body {
    background-color: black;
    font-family: Calibri;
}

#todo {
    width: 1000px;
    height: 1100px;
    background-color: #009ddc;
    margin: auto;
    position: relative;
}

header {
    background-color: #009ddc;
    color: white;
    width: 300px;
    text-align: center;
}

h1 {
    font-size: 24px;
}

img {
    border-radius: 100px;
    height: 200px;
    width: 200px;
    margin-top: 70px;
}

main {
    width: 700px;
    height: 1100px;
    background-color: white;
    position: absolute;
    right: 0px;
    top: 0px;
}

span {
    width: 20px;
    height: 20px;
}

span img {
    border-radius: 0px;
    height: auto;
    width: auto;
    margin: 0px 5px 0px 0px;
    padding-top: 5px;
    position: relative;
    top: 1px;
}

section {
    margin: 40px;
}

main h2 {
    color: #009ddc;
}

h2 {
    font-size: 1.17em;
}

h3 {
    margin: 5px 0px;
}

li {
    margin-left: -20px;
}

p {
    margin: 5px 0px;
}

div {
    position: relative;
}

#conocimientos {
    position: absolute;
    right: 150px;
    top: 0px;
    margin-top: 0px;
}

#conocimientos h2 {
    margin-top: 0px;
}

footer {
    background-color: #009ddc;
    color: white;
    width: 300px;
    text-align: left;
}

footer h4 {
    text-align: center;
}

footer section {
    border-top: 2px solid white;
}